<h3>Genre: <%= @genre.name %></h3>
<div id="home-feed">
  <div id="articles">
  </div>
  <div id="show-more">
    <p>* show more *</p>
  </div>
</div>
<%= form_with(url: tracks_path, id: "get-tracks", method: :get) do |f| %>
  <%= hidden_field :tracks, :page, value: 1 %>
  <%= hidden_field :tracks, :total_pages, value: @total_pages %>
  <%= hidden_field :tracks, :model, value: "genre" %>
  <%= hidden_field :tracks, :model_id, value: @genre.id %>
<% end %>
<script>
  var page = 1;
  window.addEventListener('load', function(){
    Rails.fire($("#get-tracks")[0], 'submit')
  });
  $("#show-more").on('click', function(){
    page += 1;
    $("#tracks_page").val(page);
    Rails.fire($("#get-tracks")[0], 'submit')
  });
</script>
