<div class="article">
  <div class="article-info">
    <h3>
      <%= link_to "#{track.artist} - #{track.title}", track.url,
        target: "_blank", rel: "noopener noreferrer"
      %>
    </h3>
    <span class="genre-links">
      <% track.genres.each do |genre| %>
        <span class="genre-link">
          <%= link_to genre.name, genre_path(genre) %>
        </span>
      <% end %>
    </span>
  </div>
  <div class="player">
    <%= render 'shared/sc_embed', track: track %>
  </div>
  <div class="description">
    <% if track.description.present? %>
      <p><%= track.description %>です。</p>
    <% end %>
    <% if track.comment.present? %>
      <p><%= track.comment %></p>
    <% end %>
  </div>
  <% if logged_in? %>
    <%= link_to "edit", edit_admin_track_path(track.sc_id) %>
  <% end %>
</div>
