<h1>Track Edit</h1>
<h3><%= "#{@track.artist} - #{@track.title}" %></h3>
<%= render 'shared/sc_embed', track: @track %>

<% if @track.genres.present? %>
  <% @track.genres.each do |genre| %>
    <span class="genre">
      <%= genre.name %>
      <%= link_to "x", admin_track_genre_path(@track, genre), method: :delete %>
    </span>
  <% end %>
<% end %>

<%= form_for :genres, url: admin_track_genres_path(@track.id) do |f| %>
  <%= f.text_field :name %>
  <%= f.submit "add genre"%>
<% end %>
