<h1>Track Edit</h1>
<h3><%= "#{@track.artist} - #{@track.title}" %></h3>
<%= render 'shared/sc_embed', track: @track %>

<div class="editor-group">
  <h4>Genres</h4>
  <% if @track.genres.present? %>
    <% @track.genres.each do |genre| %>
      <span class="genre">
        <%= link_to genre.name, admin_genre_path(genre.id) %>
        <%=
          link_to "x", admin_track_genre_path(@track, genre), method: :delete,
          data: { confirm: "delete genre #{genre.name}?" }
        %>
      </span>
    <% end %>
  <% end %>
  <%= form_for :genres, url: admin_track_genres_path(@track) do |f| %>
    <%= f.text_field :name %>
    <%= f.submit "add genre"%>
  <% end %>
</div>

<div class="editor-group">
  <h4>Tags</h4>
  <% if @track.tags.present? %>
    <% @track.tags.each do |tag| %>
      <span class="tag">
        <%= link_to tag.name, admin_tag_path(tag.id) %>
        <%=
          link_to "x", admin_track_tag_path(@track, tag), method: :delete,
          data: { confirm: "delete tag #{tag.name}?" }
        %>
      </span>
    <% end %>
  <% end %>
  <%= form_for :tags, url: admin_track_tags_path(@track) do |f| %>
    <%= f.text_field :name %>
    <%= f.submit "add tag"%>
  <% end %>
</div>

<div class="editor-group">
  <h4>Description</h4>
  <%= form_for @track, url: admin_track_path(@track), method: :patch do |f| %>
    <%= f.text_field :description, size: 100 %>
    <%= f.submit "update description"%>
  <% end %>
</div>
