<h1>Track Edit</h1>
<h3><%= "#{@track.artist} - #{@track.title}" %></h3>
<%= render 'shared/sc_embed', track: @track %>

<div class="editor-group">
  <h4>Genres</h4>
  <div id="genres">
    <% if @track.genres.present? %>
      <% @track.genres.each do |genre| %>
        <span class="genre">
          <%= link_to genre.name, admin_genre_path(genre.id) %>
          <%=
            link_to "x", admin_track_genre_path(@track, genre), method: :delete,
            data: { confirm: "delete genre #{genre.name}?" }
          %>
        </span>
      <% end %>
    <% end %>
  </div>
  <%= form_with model: Genre.new, url: admin_track_genres_path(@track) do |f| %>
    <%= f.text_field :name %>
    <%= f.submit "add genre"%>
  <% end %>
</div>

<div class="editor-group">
  <h4>Categories</h4>
  <div id="categories">
    <% if @track.categories.present? %>
      <% @track.categories.each do |category| %>
        <span class="category">
          <%= link_to category.name, admin_category_path(category.id) %>
          <%=
            link_to "x", admin_track_category_path(@track, category), method: :delete,
            data: { confirm: "delete category #{category.name}?" }
          %>
        </span>
      <% end %>
    <% end %>
  </div>
  <%= form_with model: Category.new, url: admin_track_categories_path(@track) do |f| %>
    <%= f.text_field :name %>
    <%= f.submit "add category"%>
  <% end %>
</div>

<div class="editor-group">
  <h4>Description</h4>
  <%= form_with model: @track, url: admin_track_path(@track), method: :patch do |f| %>
    <%= f.text_field :description, size: 100 %>
    <%= f.submit "update description"%>
  <% end %>
</div>

<div class="editor-group">
  <h4>Comment</h4>
  <%= form_with model: @track, url: admin_track_path(@track), method: :patch do |f| %>
    <%= f.text_field :comment, size: 100 %>
    <%= f.submit "update comment"%>
  <% end %>
</div>

<div class="editor-group">
  <%= link_to "delete this track", admin_track_path(@track), method: :delete,
    data: { confirm: "delete this track?" }
  %>
</div>
