<br />
<%= link_to "all", admin_tracks_path %>
<%= link_to "nodescription", admin_tracks_path(nodescription: "true") %>
<%= link_to "nogenre", admin_tracks_path(nogenre: "true") %>
<%= link_to "nocategory", admin_tracks_path(nocategory: "true") %>
<h1>Tracks</h1>
<%= form_tag import_admin_tracks_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "import" %>
<% end %>
<div class="tracks-list">
  <%= render partial: 'admin/tracks/track_card', collection: @tracks, as: "track" %>
</div>
<%= paginate @tracks %>
