<!DOCTYPE html>
<html>
  <head>
    <title>KawaiiMusic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <h1 class="page-header"><%= link_to "Kawaii Dance Music Daisuki Ojisan's Playlist", root_url %></h1>
      <% if logged_in? %>
        <%= link_to "top", admin_root_path %>
        <%= link_to "tracks", admin_tracks_path %>
        <%= link_to "genres", admin_genres_path %>
        <%= link_to "tags", admin_tags_path %>
        <%= link_to 'logout', admin_logout_path, method: :delete%>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
